*{
    margin: 0;
    text-align: center;
    color: white;
}

img{
    height:200px;
    margin: 10px;
}

.header{
    background-color: aqua;
    margin-bottom: 20px;
}

.aside{
    float: left;
    background-color: greenyellow;
    margin-right: 10px;
    width: 23%;
    height: 500px;
    line-height: 500px;
}

.article{
    float: right;
    height: 500px;
    width: 75%;
    background-color: orange;
}

.article h1{
    margin-top: 200px;
}